{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>About US</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--fonts links-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;1,500;1,600&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

        <!-- Bootstrap icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

        <!--css links-->
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        

</head>

<body class="about-body">
                          <!-- title-->


        <section id="title">
            <div>
                <div  class="bootstrap-icons"> <img id="logo" src="{% static 'img/sbclogo.png' %}"></div>
                <h1>Salama Baptist Church</h1>
                <p> Sanctuary Of Peace</p>

            </div>
            <nav class="navbar navbar-expand-lg ">
                

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="icon">
                         <i class=" list-icon bi bi-list"></i>
                    </div>
                   
                </button>


                <div class="collapse navbar-collapse "  id="navbarTogglerDemo02">
                    
                    
                    <ul class="navbar-nav mx-auto ">
                        <li class="nav-item">
                            <a class="nav-link" href="/"> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about"> About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="programs"> Programs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="donation"> Donamtions </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="youthpage">YouthPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="download">Download</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="message">Message</a>
                        </li>

                    </ul>
                </div>


            </nav>
     
        </section>

        <div class="container">
            
            <!-- Start about church -->
            <section class="bg-light" >
                 <h2 class="h2 py-5 typo-space-line">Church Pastor</h2>
                <div class=" row pt-5 pb-3">
                    
                    <div class="col-lg-6">

                        <p class="">
                            Rev. Dr. John Oliver Yakubu hails from Borno state Nigeria. He was called into the gospel ministry about 27 years ago. He had his Theological trainings from Baptist Theological Seminary, Kaduna (B.TH) in 2006; Master of Psychology and Biblical Counseling from ECWA Theological Seminary, Jos in 2013 and PhD in Pastoral Care and Counseling /World Religions in The Nigerian Baptist Theological Seminary, Ogbomoso in 2020. He is a gifted administrator, preacher and teacher of the word of God. He had some publications such as Asirin Aure in Hausa, Self on exile and other unpublished material and articles. He is a trained Children Teacher with the Child Evangelism Fellowship.
                            He was ordained into the full gospel ministry of the Nigerian Baptist convention in 2007 during the convention General Session in Kubwa, Abuja. Currently, he is the Pastor of Salama Baptist Church, Buwaya of Gonin Gora Baptist Association, Kaduna Baptist Conference.
                            Rev. John Oliver Yakubu is married to Pastor (Mrs) Sarah Yakubu and the marriage is blessed with a Daughter and grandchildren.

                        </p>
                    </div>

                        <div class=" col-lg-6 ">
                            <img class="pastor-img" src="{% static 'img/pastor-img.jpg' %}" alt="Card image">
                            <ul class="list-unstyled text-center pt-4 text-muted light-300">
                                <li>Rev. John Oliver Yakubu Ph.D</li>
                                <li>Church Pastor</li>
                            </ul> 
                        

                        </div>

                </div>

    

            </section>
            <!-- End about church -->

        </div>

            <div class="container mt-4">
            
                <!-- Start about church -->
                <section class="bg-light" >
                     <h2 class="h2 py-5 typo-space-line">Brief Church History</h2>
                    <div class=" row pt-5 pb-3">
                            <div class="container">
                                <p>
                                    Salama Baptist Church began in the year 1958. The Church started her Sunday worship 
                                    service under a tree located on the piece of land donated to the church by Baba Ma'aji 
                                    for the purpose of building the church auditorium. The following were the first 
                                    worshippers: Baba Joji Barde, Late Zakwai Bagudu, Baba Isah Yerima, Late Jarfaru Dogo, 
                                    Mama Kande Joji, Mama Asibi Bagudu, Late Gajere Yerima, Late Daniel Zarmai, Late Ladi Daniel, 
                                    Late Ishaya Madami, Late Daniel Yerima and Late Bagudu Kwasau. The above members were going from 
                                    Buwaya to Kakau station for worship service which seems some distance away. The first baptism into  
                                    full membership of the church was conducted in the year 1968 by Rev. S.T Myers. The church was 
                                    organized on the 3rd December, 1973 with 28 members under the leadership of Pastor D.H Maianguwa. 
                                    A mission school was opened under the leadership of Pastor Kayit B. Duniya. Some preaching stations 
                                    were also opened under the leadership of W.D Waziri, who also ordained the first set of deacons in 
                                    1998. The first church auditorium was built in 1959, the second in 1961; the third in 1980 and the 
                                    fourth began in 2014 and still under construction with the capacity of 2500 worshippers conveniently. 
                                    The Church runs two services: English and Hausa with an average attendance of 110 and 500 respectively. 
    
                                </p>
                            </div>
                    
       
    
                    </div>
    
                </section>

            </div>
                <!-- End about church -->



                <!-- Start Aim -->
    
        <div class="container mt-4">
            <section class=" bg-white py-5">
                <div class="row text-center">

                    <div class="objective col-lg-6 mb-6 pd-5">
                        <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                            <i class="display-4 bx bxs-bulb text-light"></i>
                        </div>
                        <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Our Vision</h2>
                        <p class="light-300">
                            To grow a church where everybody is somebody and being able to establish and build in them the spiritual vertues.
                        </p>
                    </div>

                    <div class="objective col-lg-6 mt-4 pd-5">
                        <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                            <i class='display-4 bx bx-revision text-light'></i>
                        </div>
                        <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Our Mission</h2>
                        <p class="light-300">
                            <ul>
                                <li>Salama Baptist Church is Poise on promoting the great comission in mattew 28:19, 20.</li>

                                <li>To ensure total transformation of lives through effective and efficient discipleship programmes </li>

                                <li>Use effective bible teaching to develop God-fearing congregation that shall be responsible and responsive leaders in the society</li>

                                <li>To develop the Character of commitment and faithful stewardship</li>
                            </ul>
                        </p>
                    </div>

                </div>
            </section>
        </div>
    
    <!-- End Aim -->




    <!-- START OF OFFICIALS-->

    <div class="container mt-4 md-4">

        <section id="Officials-and-organs">
            <div class="row">
    
                <!--Organs Column-->
                <div class="col-lg-4">
    
                    <div class="row">
                        <div class="col-lg-12">
                           <div class="card">
                                <h2 class="h2 py-5 typo-space-line"> THE CHURCH ORGANS</h2>
                                <ul class="list-unstyled">
                                    <li>M.M. U (MEN MISSIONARY UNION)</li>
                                    <li>W.M.U (WOMEN MISSIONARY UNION)</li>
                                    <li>R.A. (ROYAL AMBASSADOR)</li>
                                    <li>LYDIAS AUXILIARY</li>
                                    <li>G.A (GIRLS AUXILIARY)</li>
                                    <li>SUNBEAM BAND</li>
                                    <li>WOMEN CHOIR</li>
                                    <li>CHOIR I</li>
                                    <li>YOUTH FELLOWSHIP</li>
                                    <li>B.S.F (BAPTIST STUDENT FELLOWSHIP)</li>
                                    <li>GLOBAL MISSION SINGERS</li>
                                    <li>THE VISION OF THE GOSPLE BAND</li>
                                    <li>DRAMA MINISTRY</li>
    
                                </ul>
                            </div>
                        </div>
    
                            <!-- Decones Card-->
                        <div class="col-lg-12 mt-4">
                            <div class="card">
                            <h2 class="h2 py-5 typo-space-line"> THE DIACONATES</h2>
                                <div class="">
                                                
                                            
                                            <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                                                <li>Dn. Bamaiyi Husaini</li>
                                                <li>Dns. Mary Musa</li>
                                                <li>Dn. Bala Ma'aji</li>
                                                <li>Dn. Aye Ishaku</li>
                                                <li>Dn. Hassan Bagudu</li>
                                                <li>Dn. Josiah Waziri</li>
                                                <li>Dns. Rebecca Danladi</li>
    
                                            
                                            </ul>
                                    
                                    
                                </div>
                            </div>
      
           
                        </div>
                         <!-- End DIACONATES Member -->
    
    
                        
                    </div>
    
    
    
    
    
    
                </div>
    
    
                <!-- end of organs Column-->
    
    
    
    
    
                <!--Mission Churches-->
                        <div class="col-lg-4">
                            <div class="card">
                                
                                <h2 class="h2 py-5 typo-space-line">MISSION CHURCHES</h2>
                            
                                <div class="container-fluid">
                                    <dl>
                                    <dt>ALHERI BAPTIST CHURCH PADAN ACHI - RIJANA    </dt>
                                        <dd>1987</dd>
                        
                                    <dt>KAUNA BAPTIST CHURCH UNGWAN MADAKI</dt>
                                        <dd>1988 </dd>
                        
                                    <dt>HOSSANA BAPTIST CHURCH KUDERI    </dt>
                                        <dd>1992</dd>
                        
                                        <dt>BAPTIST CHURCH UNGWAN DOMA </dt>
                                            <dd>1995 </dd>
                            
                                        <dt> BISHARA BAPTIST CHURCH SABON BUWAYA</dt>
                                            <dd>2004 </dd>
                            
                                        <dt>FIRST BAPTIST CHURCH UNGWAN TANKO  </dt>
                                            <dd>03/07/2015</dd>
                            
                                        <dt>SALAMA BAPTIST CHURCH UNGWAN WAZIRI </dt>
                                            <dd>2017</dd>
                                            
                                        <dt>SALAMA BAPTIST CHURCH UNGWAN MAJE</dt>
                                            <dd>-2021 </dd>
        
                                    
                                    </dl>
                        
                                </div>
                            </div>
                
                        </div>
    
                <!-- End of Mission Churches-->
    
                                <!-- officials Column-->
    
                <div class="col-lg-4">
                            <div class="card">
                <div class="col">
                    <h2 class="h2 py-5 typo-space-line">THE CHURCH OFFICALS</h2>
                </div>
                <div class="container-fluid">
                    <dl>
                      <dt> Secretary</dt>
                        <dd> Benjamin Bulus</dd>
        
                      <dt> Assistant Secretary</dt>
                          <dd> Rita Musa </dd>
        
                      <dt> Treasurer</dt>
                         <dd> Yohanna Yero</dd>
        
                      <dt>Financial Secretary</dt>
                        <dd>Ishaku Irmiya </dd>
        
                    <dt> Sunday School Superintendant</dt>
                        <dd>Dcn, Josiah Waziri</dd>
        
                    <dt>Auditor</dt>
                        <dd>Christian Bulus</dd>
        
                    <dt>Church Training Programme (Superintendent) </dt>
                        <dd>Nehemiah Stephen</dd>
                        
                     <dt>CEvangelism Chairman </dt>
                        <dd>Timothy Illiya </dd>
    
                    <dt>Building Committee Chairman </dt>
                        <dd>Ezra Bawa</dd>
    
                    <dt>Church Electrical Committee Chairman </dt>
                        <dd> Richard Ali Tuta </dd>
    
                     <dt>Welfare Committee Chairperson  </dt>
                        <dd>Ta'aziya Daniel</dd>
    
                    <dt>Music Director </dt>
                        <dd>Obed Ayuba</dd>
    
                    <dt>Works and Harvest Committee Chairman  </dt>
                        <dd>Jonathan Madami</dd>
    
                    <dt>Christian Education (Superintendent) </dt>
                        <dd>Mary Benjamin</dd>
    
                    <dt>Music Director </dt>
                        <dd>Obed Ayuba</dd>
    
                    <dt>Works and Harvest Committee Chairman  </dt>
                        <dd>Jonathan Madami</dd>
    
                    <dt>Ushering chairman/chief  </dt>
                        <dd>Mr. Isaiah Bawa</dd>
    
                    <dt>Pulpit Welfare Chairman </dt>
                        <dd>Mr Ayuba Waziri</dd>
                    
                    <dt>Health Committee Chairperson </dt>
                        <dd>Mrs. Hassana Sanda</dd>
                        
                    <dt>Pulpit Welfare Chairman </dt>
                        <dd>Mr Ayuba Waziri</dd>
    
                    <dt>Marriage committee Chairman </dt>
                        <dd>Dcn. Haruna Abashe</dd>
    
                    <dt>Decoration committee Chairman </dt>
                        <dd>Shedrach Shaba</dd>
    
                    <dt> Media committee Chairman </dt>
                        <dd>Titus John</dd>
    
                    <dt>PRO</dt>
                        <dd>Simon Mayah</dd>
    
                    <dt>Children Department Coordinator </dt>
                        <dd>King James John</dd>
    
                    <dt>Church cleaning committee Chairperson </dt>
                        <dd>Azumi Bawa</dd>
    
                        <dt>Property Committee Chairman</dt>
                        <dd>Colonel Sanda Dada</dd>
                        
                        
    
        
        
        
                     </dl>
        
                </div>
            </div>
    
                </div>
    
    
    
    
    
    
    
                
    
    
            </div>
    
    
    
        </section>


    </div>

    
    <!-- END OF OFFICIALS-->
 
        </div>

        <!-- carousel start-->





    <!-- Start Footer -->
            <footer>
                             <div class="container">
            <div class="row py-4">



                <div class="col-lg-4 col-md-4 my-sm-0 mt-4">
        
                        <ul class="list-unstyled text-light light-300">
                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light" href="/">Home</a>
                            </li>
                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="about"></a>About Us</a>
                            </li>
                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="programs ">Programs</a>
                            </li>

                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="donation">Donation</a>
                            </li>

                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="youthpage">Youthpage</a>
                            </li>
                        </ul>
                </div>


                <div class="col-lg-4 col-md-4 my-sm-0 mt-4">
                    <h2 class="h4 pb-lg-3 text-light light-300">Contact Us</h2>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                            <i class="bi bi-telephone-forward-fill mr-2"></i><a class="text-decoration-none text-light py-1" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                         <li class="pb-2">
                            <i class="bi bi-facebook mr-2"></i><a class="text-decoration-none text-light py-1" href="">Facebook</a>
                        </li>
                        <li class="pb-2">
                            <i class="bi bi-twitter mr-2"></i><a class="text-decoration-none text-light py-1" href="">twitter</a>
                        </li>
                        <li class="pb-2">
                            <i class="bi bi-envelope-fill mr-2"></i><a class="text-decoration-none text-light py-1" href="mailto:info@company.com">salamabaptistchurch@gmail.com</a>
                        </li>
                    </ul>
                </div>

                 <div class="col-lg-4 col-12 align-left">
                    <a class="navbar-brand" href="/">
                        <div  class="footer-image"> <img id="logo" src="{% static 'img/sbclogo.png' %}"></div>
                        <span class="text-light h5">Salama</span> <span class="text-light h5 semi-bold-600">Baptist Church</span>
                    </a>
                    <p class="text-light my-lg-4 my-2">
                        Sanctuary Of Peace
                    </p>
                    <p>No. 48 jama'a Road Buwaya.P.O. Box 7832, Along Kaduna-Abuja Express Road Kaduna State, Nigeria.</p>
                    <ul class="list-inline footer-icons light-300">
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="http://facebook.com/">
                                <i class='bx bxl-facebook-square bx-md'></i>
                            </a>
                        </li>

                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="https://www.whatsapp.com/">
                                <i class='bx bxl-whatsapp-square bx-md'></i>
                            </a>
                        </li>


                    </ul>
                </div>

            </div>
        </div>


        
            <div class="footer">
                        <p>
                            © Copyright 2021 Salama Baptist Church. All Rights Reserved.
                        </p>
            </div>
            </footer>
    <!-- End Footer -->



                <!--bootsrap javascrypt links-->
        <script src="{% static 'jquery/jquery.min.js' %}" type="text/javascript"></script>        
        <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
        
        <!--<script src="jquery/jquery-migrate.min.js" type="text/javascript"></script>  --> 

</body>

</html>